/* Se recomienda ordenar las propiedades en orden alfabético
para una mejor comprensión */

html, body {
    background-color: #21232A;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}

button {
    padding: 10px;
    font-size: 1.3rem;
}